.profile-box {
  text-align: center;
  background-color: azure;
}

.profile-img {
  height: 50%;
  width: 50%;

}

.titleProfile {
  color: #123456;
  margin-top: 10px;
  text-align: center;
}

.name {
  color: #123456;
  margin-top: 15px;
  text-align: center;
}




@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#ubuntuFont {

  font-family: Ubuntu;
  font-weight: 500;
  font-size: 2em;

}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#ubuntuSmallBold {

  font-family: Ubuntu;
  font-weight: 600;
  font-size: 1.5em;

}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#ubuntuSmallPink {

  font-family: Ubuntu;
  font-weight: 400;
  font-size: 1.2em;
  color: #e654b0;
  text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#ubuntuSmallBlack {

  font-family: Ubuntu;
  font-weight: 400;
  font-size: 1em;
  color: black;
  text-align: center;
}








.DemographicContainer
{
    /*display:flex;*/
    height: 30%;
}

.DemographicRow
{
    height: 100%;
}

.DemographicCol
{
    height: 100%;
}

.ProfileImage
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.ProfileTextWrapper
{
    display: table;
    height: 100%;
}

.ProfileText
{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13pt;
    line-height: 150%;
}
