.profile-box {
  text-align: center;
}

.profile-img {
  height: 50%;
  width: 50%;

}





.DemographicContainer
{
    /*display:flex;*/
    height: 30%;
}

.DemographicRow
{
    height: 100%;
}

.DemographicCol
{
    height: 100%;
}

.ProfileImage
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-size: cover;
}

.ProfileTextWrapper
{
    display: table;
    height: 100%;
}

.ProfileText
{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13pt;
    line-height: 150%;
}
