#topbar-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#topbar {


  font-family: Ubuntu;
  font-weight: 500;
  font-size: 2em;
}

#topbar-back-btn {
  float: left;
  background-color: palevioletred;
}