.calendar_img {
  width: 433px;
  height: 600px;
}

.titleCalendar{
  color: #123456;
  margin-top: 10px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#ubuntuFont {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 2em;
}