.mymsg {
  text-align: left;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1); */
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #5DB075;
  color: white; 
  font-family: Red hat Display, sans-serif;
}
.othermsg {
  text-align: left;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #f2f2f2ab;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  font-family: Red hat Display, sans-serif;
  /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1); */
}