.home--container{
	margin: 0 auto;
	height: 600px;
	width: 100%;
}
.home--container h1{
	text-align: center;
}

.chat-list{
	margin: 0; padding: 0;
	list-style-type: none;
}
.chat-list li{
	padding: 0px 0;
}
.chat-list em{
	font-size: 12px;
	font-style: normal;
}
.chat-list strong{
	/* display: inline-block;
	margin: 0 5px 0 10px; */
}
.send-chat{
	margin-top: 15px;
}
.send-chat input{
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	outline: none;
}
.send-chat input:focus{
	border: 1px solid black;
}
.disallow-chat{
	text-align: center;
}

ul {
    list-style-type: none;
}

.mini-card {
    padding: 1.5rem;
    border-radius: 16px;
    background: #6bb5d8;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
	margin: 0;
	/* box-shadow: -1rem 0 3rem rgb(182, 182, 182); */
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
	position: relative;
	/* box-sizing: border-box; */
}

.mini-card:hover {
	transform: translateY(-1rem);
}