.col-md-12 {
    margin-right: 7px;
}

.searchcreate{
    flex-direction: row;
}

.searchBar {
    border-radius: 3px;
    border: 2px #123456 solid;
    margin-top: 20px;
    width: 50%;
    height: 45px;
    margin-left: 30px;
    clear: both;
}

.row .createButton {
    width: 20%;
    height: 45px;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #123456;
    float: right;
}

.container-SearchCreate {
    flex-direction: row;
}

.scroll-container {
    margin: 0px;
    margin-top: 15px;
    height: 530px;
    width: 440px;
    overflow: scroll;
}